:root {
    --certo-blue: #4335DE;
    --certo-dark-blue: #02033B;
    --certo-yellow: #ffc107;
    --bg-white: #FFFFFF;
    --bg-light-blue: #E7EFFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--certo-dark-blue);
    overflow-x: hidden;
}