:root {
    --certo-blue: #4335DE;
    --certo-dark-blue: #02033B;
    --certo-yellow: #ffc107;
    --bg-white: #FFFFFF;
    --bg-light-blue: #E7EFFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--certo-dark-blue);
    overflow-x: hidden;
}
/* NAVBAR & HERO BACKGROUND */
.navbar, .hero-section {
    background: radial-gradient(circle at center, var(--bg-white) 0%, var(--bg-light-blue) 100%) !important;
    border: none !important;
}

.navbar {
    padding: 20px 0;
}

.nav-link {
    color: var(--certo-dark-blue) !important;
    font-weight: 600;
    margin: 0 15px;
}